<ul class="pillmenu">
  <li><%= link_to(t('.add_person'), '#', class: 'add_person', id: 'contacts_add_button') %></li>
  <li><%= link_to(t('.see_map'), '#', class: 'see_map', id: 'see_map_button') %></li>
  <li><%= link_to(t('.search_and_fiter'), '#', class: 'search_and_filter', id: 'search_and_filter_button') %></li>
</ul>
