<div class="sfield office_field">
  <div id="office_selects">
    <div id="office_select[0]" class="office_select">
      <%= select_tag "person[people_offices_attributes][0][office_id]", options_from_collection_for_select(@offices, :id, :name), include_blank: true, data_level: 0 %><br>
    </div>
  </div>
</div>
