<div class="sfield office_field">
  <div id="office_selects">
    <%= select_tag "office_id", options_from_collection_for_select(@offices, :id, :name), include_blank: true, data_level: 0 %><br>
  </div>
</div>
