<h1>Editing <%= @person.name %><small> <%= link_to 'Profile', @person %></small></h1>

<div id="fb_profile_pic">
  <%= image_tag @person.fb_profile_pic_large %>
</div>

<%= render 'add_person', person: @person %>
