<div id="nav_container">
  <ul class="sf-menu" style="float:right">
    <li>
      <a href="#">
        <%= current_organization.name %>
      </a>
      <ul>
        <%= new_render_org_tree(current_user.org_tree_node) %>
      </ul>
    <li>
    <li>
      <a href="#"><%= current_user.email %></a>
    </li>
    <li>
      <%= link_to t('.log_out'), log_out_path %>
    </li>
  </ul>
</div>
