<div id="nav_container">
  <ul class="sf-menu" style="float:right">
    <li>
      <a href="#">Organizations</a>
      <ul>
        <%= new_render_org_tree(Person.org_tree_node(Organization.first)) %>
      </ul>
    <li>
    <li>
      <a href="#">nmfdelacruz@gmail.com</a>
    </li>
    <li>
      <a href="#">LOGOUT</a>
    </li>
  </ul>
</div>
